{% extends "checkup/base.html" %}
{% block content %}
    <h1 class="mb-4">About / Contacts Page</h1>
    <p>This is a website that will be used by supervisors, students and Ms. Katherine regularily to keep up with student's Extended Essay progresses. </p>
    <p>
    	In this website, students are expected to sign up, log into their accounts every week and write a mini reflection on what they have done throughout the week for supervisors to be up to date with all that the student has accomplished.
    </p>
    <p>
    	This is also a motivating platform that allows students to check on their classmate's progresses which should give students an insentive to be kept on track instead of procrastinating away from their Extended Essays.

    <br> </br> 

     <p><b> Ms Katherine's email: </b>katherine.c@wells-school.com </p>
     <p><b> Ms Andy's email: </b> andy.c@wells-school.com </p>
     <p> <b> Ms Andy's Website on student support material:</b> sites.google.com/a/wells-school.com/mr-andy/extended-essay-student
    
    <br> </br>    
    </p> 


{% endblock content %}