{% extends "checkup/base.html" %}
{% block content %}
    <h1 class="mb-4"> Advice on the Extended Essay:</h1>
    <p class="mb-4">
    	<b> Mokshil Morakhiya, Class of 2020: </b> Start it as soon as possible because if anything goes wrong, for example, the experiment, you will have enough time to redo it or do something else. Do not procrastinate and revise and edit your work to avoid any mistakes.
    </p>
    <p class="mb-4">
        <b> Ananta Sachdev, Class of 2020: </b> Speaking from personal experience, as multiple deadlines approach, you will get overwhelmed with your EE. Therefore, it’s better to start writing it as soon as possible. Also, if you have any questions or feel stuck, ask your supervisor for help.
    </p>
    <p class="mb-4">
        <b> Suraj Mirchandani, Class of 2020: </b> I recommend that before attempting to write the EE they should have a detailed outline on where they think their EE is going. Essentially, it should be completed in outline form first with all the data and stuff done before they actually write it. It’ll help make the essay more coherent.
    </p>
    <p class="mb-4">
        <b> M Shaafi Jahangir, Class of 2020: </b> Don't procrastinate on the Extended essay thinking you have time. During your IB EE submission dates, you will have many more tasks so make sure you deal with your EE and get it over with before it haunts you in the future. 
    </p>
    <p class="mb-4">
        <b> Yash Bhora, Class of 2020: </b> The Extended Essay experience is one that is painful but rewarding. I recommend that, STEM subjects especially, start as early as possible(summer) so that you don't have to worry about it when you're flooded with other coursework and IAs. I also suggest you make sure you're  genuinely interested in the topic you research. Good luck!
    </p>
    <p class="mb-4">
        <b> Nanthisha Narang, Class of 2020: </b> My advice for all of you is firstly to pick a topic you are genuinely interested in; you’re going to be putting a lot of time and effort into researching for your topic so make sure you pick something that you won’t get bored or tired of. Don’t procrastinate, start planning and writing early. Work on it during the summer of year 1 and get as much done as possible.
    </p>
    <p class="mb-4">
        <b> Dong Hoon Lee, Class of 2020: </b> Do not procrastinate. Starting the assignment might be fearful because of the amount of workload you have to do, and the difficulty of the assignment. But if you invest enough time, it might be easier than you think. So don't procrastinate!
    </p>
    <p class="mb-4">
    	<b> Anton Gonta, Class of 2020: </b> Writing EE is a marathon, not a sprint. If you don't want to have regrets, worry about not meeting the deadline, and writing a good essay at the same time, start doing it early. For more EE tips follow @count_anton_the_first on Instagram ❤
	</p>
	<p class="mb-4">
    	<b> Lina Fathima, Class of 2020: </b> Don’t procrastinate. Find an idea and then build on it as soon as possible. Have it done early, as early as year 1 of IB.
	</p>
	
{% endblock content %}