{% extends "checkup/base.html" %}
{% block content %}

<h1 class="mb-4">Frequently Asked Questions</h1>
    <p> 
    <b>Q: What subjects are available at Wells?</b> 
    <br>
	A: Depending on the expertise of our teachers, almost any subjects are available. Check out the list of EE supervisors and their experience. Or, if you can't find a supervisor for what you'd like to do, contact the IB coordinator for other options. 
	<br><br>
	<b>Q: When is the EE proposal due?</b>
	<br>
	A: Submit the EE proposal by the October break. Make sure the supervisor has signed it and given you feedback on your first ideas. 
	<br><br>
	<b>Q: What is the RRS?</b>
	<br>
	A: RRS is a folder shared between you and your supervisor sharing your ideas, drafts, research articles and other reflections throughout the process. It is a required component of the EE. 
	<br><br>
	<b>Q: What if I want to change my research question? </b>
    <br>
    A: The research question will likely change as you move through the process. Keep track of these changes, and be sure to discuss them with your supervisor. Late changes in the research question however will delay the rest of your process. Stay in close contact for guidance from your supervisor. 
    <br><br>
    <b>Q: What is the RPPF? </b>
    <br>
    A: The RPPF is an editable PDF required to be submitted along with the EE. It contains your reflections after the three required meetings with your supervisor. Supervisors will date and sign the form after you submit this to them after each meeting. Remember that there is a 500 word count for the reflections. 
    <br><br>
    <b>Q: What if I want to change my supervisor? </b>
    <br>
    A: A change in supervisor is possible if it is not too late in the process. Make sure to speak to the EE Coordinator or the IB coordinator if you are having doubts. 
    <br><br>
    <b>Q: What is the structure of the EE? </b>
    <br>
    A: All EEs follow a similar format, with some specifications for each subject. For guidance, use the EE website at Wells to find the requirements for your subject. You can also find example EE for your subject there for reference. Your supervisor might also be able to provide more resources for you. 
    </p>
{% endblock content %}