{% extends "checkup/base.html" %}
{% block content %}

<h1 class="mb-4"> Students: </h1>
    <p style="font-size:20px;" class="mb-2"><a href="http://127.0.0.1:8000/user/Shaafi">Shaafi's Profile</a></p>
    
    <p style="font-size:20px;"class="mb-2"><a href="http://127.0.0.1:8000/user/Jessie">Jessie's Profile</a></p>

    <p style="font-size:20px;"class="mb-2"><a href="http://127.0.0.1:8000/user/Kanav">Kanav's Profile</a></p>

    <p style="font-size:20px;"class="mb-2"><a href="http://127.0.0.1:8000/user/Mark">Mark's Profile</a></p>

    <p style="font-size:20px;"class="mb-2"><a href="http://127.0.0.1:8000/user/Timm">Timm's Profile</a></p>

{% endblock content %}